body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

h1 {
    text-align: center;
    color: #444;
    margin-bottom: 30px;
}

button {
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.auth-buttons {
    text-align: center;
    margin-bottom: 20px;
}

.auth-buttons button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
}

#books {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.book {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 10px;
    width: 200px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.book:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.book img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

.book h2 {
    font-size: 18px;
    color: #007BFF;
    margin-bottom: 10px;
}

.book p {
    font-size: 14px;
    color: #555;
}

.book button {
    margin-top: 10px;
}

/* Login and Signup Forms */
#formdiv, #formsignup {
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: white;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#formdiv h1, #formsignup h1 {
    color: #007BFF;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #444;
}

form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

form button {
    width: 100%;
    font-size: 16px;
}

form input:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
